*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: azure;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent{
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: palegreen;
    border-radius: 15px;
}
.child{
    height: 100px;
    width: 15vw;
    background-color: azure;
    border-radius: 10px;
}
#child1{
    background-color: #DAE0E2;
}
#child2{
    background-color: #EA7773;
}
#child3{
    background-color: #AE1438;
}
#child4{
    background-color: #E83350;
}
#child5{
    background-color: #0A3D62;
}