*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    height: 100vh;
    width: 100vw;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 320px;
    background-color: cornflowerblue;
    border-radius: 15px;
    position: relative;
}
.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    
}
.container i{
    color: white;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition:  ease 0.25s ;


}